body {
    margin: 0;
    width: 100%;
    font-family: Roboto;
    font-style: normal;
}

header {
    width: 100%;
    height: 100%;
    background: #EEEFF1;
    padding-bottom: 146px;
}

p {
    margin: 0px;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
}

h2 {
    margin: 0;
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    color: #000000;
}

h3 {
    margin: 0;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    color: #FFFFFF;
}

/* Часть 1 */

.container {
    width: 100%;
    height: 100%;
    max-width: 1050px;
    margin-right: auto;
    margin-left: auto;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 57px;
}

ul.menu-bar {
    list-style: none;
    margin: 0px;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.1em;
}

ul.menu-bar li {
    display: inline;
    white-space: nowrap;
    margin-right: 42px;
    color: #000000;
}

ul.menu-bar li:hover {
    font-weight: 500;
    color: #34547A;
    cursor: pointer;
}

ul.menu-bar li:last-child {
    margin: 0;
}

.img-laptop {
    width: 357px;
    height: 233.7px;
}

.header-content {
    margin-top: 157px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header-text {
    margin-left: 143px;
}

.title_style {
    margin-top: -42px;
    font-weight: 500;
    font-size: 48px;
    line-height: 79px;
    color: #000000;
}

.text_style {
    margin: 60px 0px;
    max-width: 540px;
    width: 100%;
    color: #727272;
}

.btn {
    border: 0;
    width: 225px;
    height: 65px;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    background: #34547A;
    cursor: pointer;
    border-radius: 0;
    outline: none;
    text-transform: uppercase;
}

.btn:hover {
    background: #065090;
}

.btn:focus {
    background: #065090;
}

.btn:active {
    background: #065090;
}

/* Часть 2. Обо мне*/

.about_me {
    margin: 119px 0px;
    text-align: -webkit-center;
}

.about_me_title {
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    margin-bottom: 50px;
    color: #000000;
}

.about_me_text {
    max-width: 540px;
    width: 100%;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
}

/* Часть 3. Проекты */

.numbers .container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.numbers {
    background: #34547A;
}

.num_items {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 100px 0;
}

.num_item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16.6%;
}

.num-txt-content {
    max-width: 80px;
    width: 100%;
    text-align: initial;
    align-items: center;
    padding-top: 10px;
    margin-right: 52px;
    margin-left: 20px;
    color: #FFFFFF;
}

.num-txt-content:last-child {
    margin-right: 0;
}

.num-text {
    margin: 0;
}

.img-num {
    height: 50px;
}

/* Часть 4. Навыки */

.skills .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin-top: 102px;
    margin-bottom: 102px;
}

.skills-text {
    display: flex;
    flex-direction: column;
    align-items: initial;
}

ul.skills-list {
    list-style: none;
    padding-inline-start: 0px;
    margin-top: 50px;
}

ul.skills-list li {
    display: inherit;
    white-space: nowrap;
    margin-bottom: 30px;
    color: #727272;
}

ul.skills-list li:last-child {
    margin: 0;
}

.img-skills {
    max-width: 480px;
    width: 100%;
}

.img-photo {
    max-width: 525px;
    width: 100%;
}

/* Часть 5. Видео */

.video .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.video {
    width: 100%;
    height: 100%;
    background: #EEEFF1;
    padding-top: 100px;
    padding-bottom: 100px;
}

.video-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 540px;
    width: 100%;
    margin-bottom: 54px;
    color: #727272;
}

.video-title {
    margin-bottom: 50px;
}

.video-content {
    position: relative;
    width: 100%;
    max-width: 1110px;
}

.img-video {
    display: block;
    width: 100%;
    height: auto;
}

.overlay-video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
}

.video-content:hover .overlay-video {
    opacity: 1;
    cursor: pointer;
}

.icon-video {
    color: white;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

/* Часть 6. Проекты */

.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 28px 0px;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.project-column {
    width: 25%;
    display: flex;
    flex-direction: column;
}

.project-content {
    position: relative;
    width: 100%;
}

.img-project {
    display: block;
    width: 100%;
    height: 100%;
}

.overlay-project {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: #34547A;
}

.project-content:hover .overlay-project {
    opacity: 0.8;
    cursor: pointer;
}

.icon-project {
    color: white;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

/* Часть 7. Форма */

.form {
    padding: 119px 0px;
    text-align: -webkit-center;
    background: #EEEFF1;
}

.form-title {
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    margin-bottom: 50px;
    color: #000000;
}

.form-text {
    max-width: 540px;
    width: 100%;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
}

.contact-form {
    margin-top: 65px;
    display: grid;
    max-width: 540px;
    width: 100%;
    grid-template-columns: auto;
    grid-template-areas: 'name email' 'message message';
    grid-gap: 30px;
}

.name {
    grid-area: name;
    height: 50px;
    border: 0;
}

.email {
    grid-area: email;
    height: 50px;
    border: 0;
}

.message {
    grid-area: message;
    height: 175px;
    border: 0;
    resize: none;
}

input {
    padding-left: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
}

textarea {
    padding-left: 20px;
    padding-top: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
}

input:focus {
    outline: none;
}

textarea:focus {
    outline: none;
}

.form-btn {
    width: 190px;
    height: 55px;
    margin-top: 50px;
}

/* Часть  8. Подвал сайта */

footer {
    width: 100%;
    height: 151px;
    background: #34547A;
    display: flex;
    /* flex-direction: row; */
    justify-content: space-around;
    align-items: center;
    /* flex-wrap: wrap; */
}

.description {
    display: flex;
    flex-direction: column;
    /* padding-top: 50px; */
    /* align-items: flex-start; */
}

.copyright {
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
    margin-top: 20px;
}

ul.social {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    align-items: center;
}

ul.social li {
    margin-right: 21px;
    max-width: 44px;
    max-height: 22px;
    width: 100%;
}

ul.social li:last-child {
    margin-right: 0px;
}

@media (max-width: 1280px) {
    header {
        padding-bottom: 95px;
    }
    /* .container {
        width: 50%;
    } */
    .menu-bar {
        display: none;
    }
    .header-content {
        margin: 67px 57px 57px 57px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .header-text {
        text-align: center;
        margin-top: 58px;
        margin-left: 0px;
    }
    .text_style {
        /* max-width: 322px; */
        width: 100%;
        margin: 44px 0px;
    }
    /* ------------------- */
    .skills .container {
        flex-direction: column-reverse;
        align-items: center;
    }
    .skills-text {
        margin-top: 98px;
    }
    .skills-title {
        text-align: center;
    }
    /* ------------------- */
    .num_items {
        max-width: 600px;
    }
    .num_item {
        width: 50%;
        margin-bottom: 89px;
    }
    /* .num_item:last-child{
        margin-bottom: 0px;
    } */
    /* -------------------- */
    .overlay-video{
        opacity: 1;
    }
    /* -------------------- */
    .projects {
        flex-direction: column;
    }
    .project-column {
        flex-direction: row;
        width: 100%;
    }
    .project_content {
        width: 50%;
    }
    /* ------------------- */
    .contact-form {
        grid-template-areas: 'name name' 'email email' 'message message';
    }
    /* ------------------- */
    footer {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        height: 210px;
    }
    ul.social {
        margin-top: 38px;
    }
}