body {
    margin: 0;
    width: 100%;
    font-family: Roboto;
    font-style: normal;
}

header {
    width: 100%;
    height: 100%;
    background: #EEEFF1;
    padding-bottom: 146px;
}

p {
    margin: 0px;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
}

h2 {
    margin: 0;
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    color: #000000;
}

h3 {
    margin: 0;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    color: #FFFFFF;
}

/* ----------- Part 1 ----------- */

.container {
    width: 100%;
    height: 100%;
    max-width: 1150px;
    margin-right: auto;
    margin-left: auto;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 57px;
}

ul.menu-bar {
    list-style: none;
    margin: 0px;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.1em;
}

ul.menu-bar li {
    display: inline;
    white-space: nowrap;
    margin-right: 42px;
    color: #000000;
}

ul.menu-bar li:hover {
    font-weight: 500;
    color: #34547A;
    cursor: pointer;
}

ul.menu-bar li:last-child {
    margin: 0;
}

.img-laptop {
    max-width: 357px;
    width: 100%;
    height: 233.7px;
}

.header-content {
    margin-top: 140px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.header-info {
    margin-left: 143px;
}

.header-info_title {
    font-weight: 500;
    font-size: 48px;
    line-height: 79px;
    color: #000000;
}

.header-info_text {
    margin: 60px 0px;
    max-width: 540px;
    width: 100%;
    color: #727272;
}

.btn {
    border: 0;
    width: 225px;
    height: 65px;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    background: #34547A;
    cursor: pointer;
    border-radius: 0;
    outline: none;
    text-transform: uppercase;
}

.btn:hover {
    background: #065090;
}

.btn:focus {
    background: #065090;
}

.btn:active {
    background: #065090;
}

/* ----------- Part 2. About me ----------- */

.about-me {
    margin-top: 119px;
    margin-bottom: 100px;
    text-align: -webkit-center;
    text-align: -moz-center;
}

.about-me_title {
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    margin-bottom: 50px;
    color: #000000;
}

.about-me_text {
    max-width: 540px;
    width: 100%;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
}

/* ----------- Part 3. Numbers ----------- */

.numbers .container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.numbers {
    background: #34547A;
}

.num_items {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 100px 0;
}

.num_item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16.6%;
}

.num-txt-content {
    max-width: 80px;
    width: 100%;
    text-align: initial;
    align-items: center;
    padding-top: 10px;
    margin-right: 52px;
    margin-left: 20px;
    color: #FFFFFF;
}

.num-txt-content:last-child {
    margin-right: 0;
}

.num-text {
    margin: 0;
}

.img-num {
    height: 50px;
}

/* ----------- Part 4. Skills ----------- */

.skills .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 102px;
    margin-bottom: 102px;
}

.progressbar {
    height: 4px;
    max-width: 445px;
    width: 100%;
    position: relative;
    background: #C4C4C4;
}

.progressbar>span {
    display: block;
    width: 78.9%;
    height: 100%;
    background-color: #34547A;
    margin: 20px 0px 29px 0px;
}

.progressbar>span:last-child {
    margin-top: 20px;
    margin-bottom: 0px;
}

.skills-text {
    max-width: 445px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: initial;
}

ul.skills-text_list {
    list-style: none;
    padding-inline-start: 0px;
    margin-top: 50px;
}

ul.skills-text_list li {
    display: inherit;
    white-space: nowrap;
    margin-bottom: 30px;
    color: #727272;
}

ul.skills-text_list li:last-child {
    margin-bottom: 0;
}

.img-photo {
    max-width: 555px;
    width: 100%;
}

/* ----------- Part 5. Video ----------- */

.video .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0px;
}

.video {
    width: 100%;
    height: 100%;
    background: #EEEFF1;
}

.video-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 540px;
    width: 100%;
    margin-bottom: 54px;
    color: #727272;
}

.video-info_title {
    margin-bottom: 50px;
}

.video-info_text {
    max-width: 540px;
    width: 100%;
}

.video-content {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1110px;
}

.img-video {
    display: block;
    max-width: 1110px;
    width: 100%;
    height: auto;
}

.overlay-video {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
}

.video-content:hover .overlay-video {
    opacity: 1;
    cursor: pointer;
}

.icon-video {
    color: white;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

/* ----------- Part 6. Projects ----------- */

.projects {
    margin: 28px 0px;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.project-content {
    position: relative;
    width: 100%;
}

.grid-container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
}

.project-item-5 {
    order: 1;
}

.img-project {
    display: block;
    width: 100%;
    height: 100%;
}

.overlay-project {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: #34547A;
}

.project-content:hover .overlay-project {
    opacity: 0.8;
    cursor: pointer;
}

.icon-project {
    color: white;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

/* ----------- Part 7. Form ----------- */

.form {
    padding: 119px 0px;
    text-align: -webkit-center;
    text-align: -moz-center;
    background: #EEEFF1;
}

.form-info_title {
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    margin-bottom: 50px;
    color: #000000;
}

.form-info_text {
    max-width: 540px;
    width: 100%;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
}

.contact-form {
    margin-top: 65px;
    display: grid;
    max-width: 540px;
    width: 100%;
    grid-template-columns: auto;
    grid-template-areas: 'name email' 'message message';
    grid-gap: 30px;
}

.name {
    grid-area: name;
    height: 50px;
    border: 0;
}

.email {
    grid-area: email;
    height: 50px;
    border: 0;
}

.message {
    grid-area: message;
    height: 175px;
    border: 0;
    resize: none;
}

input {
    padding-left: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
}

textarea {
    padding-left: 20px;
    padding-top: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
}

input:focus {
    outline: none;
}

textarea:focus {
    outline: none;
}

.form-btn {
    width: 190px;
    height: 55px;
    margin-top: 50px;
}

/* ----------- Part 8. Footer ----------- */

footer {
    background: #34547A;
}

footer .container {
    width: 100%;
    height: 151px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.description {
    display: flex;
    flex-direction: column;
}

.copyright {
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
    margin-top: 20px;
}

ul.social {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    align-items: center;
}

ul.social li {
    margin-right: 21px;
    max-width: 44px;
    max-height: 22px;
    width: 100%;
}

ul.social li:last-child {
    margin-right: 0px;
}

@media (max-width: 1279px) {
    header {
        padding-bottom: 95px;
    }
    .menu-bar {
        display: none;
    }
    .navigation {
        padding: 0px;
    }
    .header-content {
        margin: 0px 26px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .header-info {
        text-align: center;
        margin-left: 0px;
    }
    .header-info_title {
        font-size: 36px;
        margin-top: 51px;
        line-height: 100%;
    }
    .header-info_text {
        max-width: 322px;
        width: 100%;
        margin: 44px 0px;
        line-height: 120%;
    }
    .img-logo {
        margin: 22px 0px 67px 19px;
    }
    /* ------------------- */
    .about-me-padding {
        padding: 0px 26px;
    }
    .about-me {
        margin-top: 91px;
        margin-bottom: 82px;
    }
    .about-me_text {
        max-width: 323px;
    }
    .about-me_title {
        margin-bottom: 42px;
    }
    /* ------------------- */
    .skills-padding {
        width: auto;
        display: flex;
        align-items: center;
        padding: 0 18px 0 18px;
    }
    .skills .container {
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 82px;
    }
    .skills-text {
        margin-top: 98px;
        max-width: 339px;
    }
    .skills-text_title {
        text-align: center;
    }
    .img-photo {
        max-width: 339px;
    }
    /* ------------------- */
    .num_items {
        max-width: 600px;
        padding: 75px 18px;
    }
    .num_item {
        width: 50%;
        margin-bottom: 89px;
    }
    .last-row-item {
        margin-bottom: 0px;
    }
    /* -------------------- */
    .video-padding {
        width: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 18px;
    }
    .video .container {
        padding-top: 93px;
        padding-bottom: 91px;
    }
    .video-info_title {
        margin-bottom: 34px;
    }
    .video-info_text {
        max-width: 323px;
    }
    .img-video {
        max-width: 339px;
    }
    .icon-video {
        max-width: 75px;
    }
    .overlay-video {
        opacity: 1;
        width: 100%;
    }
    /* -------------------- */
    .grid-container {
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(2, 1fr);
    }
    #pr_item3 {
        order: 1;
    }
    #pr_item4 {
        order: 1;
    }
    #pr_item7 {
        order: 2;
    }
    #pr_item8 {
        order: 2;
    }
    .icon-project {
        max-width: 75px;
    }
    /* ------------------- */
    .form {
        padding: 100px 0px;
    }
    .form-padding {
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 18px;
    }
    .form-info_title {
        margin-bottom: 34px;
    }
    .form-info_text {
        max-width: 322px;
    }
    .contact-form {
        grid-template-areas: 'name name' 'email email' 'message message';
        grid-gap: 21px;
        margin-top: 48px;
    }
    /* ------------------- */
    footer .container{
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: auto;
        padding: 50px;
    }
    ul.social {
        margin-top: 38px;
    }
}